@model VatTuYTeDanhMuc.Models.Entities.Dvvc
@{

}

<div class="card">
            <div class="card-body"  >
                    <form action="/DVVC/updateDVVC" method="post">
                        <div class="forms-header text-center">						
                            <h4 class="forms-title "><b>@ViewData["Title"]</b></h4>
                        </div>
                        <div class="forms-body">		
                          <div class="form-group">
                            <label style="margin:7px 0;">Mã dịch vụ vận chuyển</label>
                            <input asp-for="@Model.MaDvvc" type="text" class="form-control" required>
                            <input asp-for="@Model.Id" type="hidden" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Tên dịch vụ vận chuyển</label>
                              <input asp-for="@Model.TenDvvc" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Ghi chú</label>
                              <input asp-for="@Model.GhiChu" type="text" class="form-control" required>
                          </div>
                        </div>
                         <div class="forms-footer" style="justify-content:space-between">        
                            <button class="btn btn-secondary" onclick="window.history.go(-1);">
                                Quay lại
                                </button>
                            <input type="submit" class="btn btn-primary" value="Sửa">
                        </div>
                    </form>

            </div>
        </div>