@model PhieuNhapKhoModel
@{
    webContext context = new webContext();

    List<NhaCungCap> getListNCC(){
        return context.NhaCungCap.ToList();
    }

    List<HangHoa> getListHH(){
        return context.HangHoa.ToList();
    }
}

<div class="card">
    <div class="card-body">

        <!-- Bordered Tabs Justified -->
        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">Phiếu nhập kho</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Nội dung phiếu nhập</button>
            </li>

        </ul>
        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
            <form action="/them-phieu-nhap" enctype="multipart/form-data" method="post" class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
                <div class="form-group  p-2 mb-2" style="border-radius: 5px; border: 1px solid #ced4da;">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-lg-2 col-form-label">Số phiếu</label>
                        <div class="col-sm-4 col-lg-4">
                            <input type="text" class="form-control" name="@nameof(Model.phieuNhap.SoHd)" id="inputText">
                        </div>
                        <label class="col-sm-2 col-lg-2 col-form-label">Ngày nhập</label>
                        <div class="col-sm-4 col-lg-4">
                            <input type="date" name="@nameof(Model.phieuNhap.NgayTao)" class="form-control dnow" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="inputText">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-lg-2 col-form-label">Nhà cung cấp</label>
                        <div class="col-sm-9 col-lg-10">
                            <select name="@nameof(Model.phieuNhap.Idncc)" id="inputState" class="form-select">
                                @foreach(NhaCungCap n in getListNCC()){
                                    <option value="@n.MaNcc">@n.TenNcc</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-lg-2 col-form-label">Số hóa đơn</label>
                        <div class="col-sm-4 col-lg-4">
                            <input type="text" name="@nameof(Model.phieuNhap.SoHd)" class="form-control" id="inputText">
                        </div>
                        <label class="col-sm-2 col-lg-2 col-form-label">Ngày hóa đơn</label>
                        <div class="col-sm-2 col-lg-4">
                            <input type="date" name="@nameof(Model.phieuNhap.NgayHd)" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="inputText">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-lg-2 col-form-label">Ghi chú</label>
                        <div class="col-sm-9 col-lg-10">
                            <textarea name="@nameof(Model.phieuNhap.GhiChu)" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group p-2 mb-2" style="border-radius: 5px; border: 1px solid #ced4da;">
                    <div class="row mb-3" style="--bs-gutter-x: 5px">
                        <div class="col-md-3 mb-2 col-lg-3">
                            <div class="form-floating">
                                <select id="inputState" class="form-select">
                                    @foreach(HangHoa h in getListHH()){
                                        <option value="@h.Id">@h.TenHh</option>
                                    }
                                </select>
                                <label for="floatingName">Tên biệt dược, hàng hóa</label>
                            </div>
                        </div>
                        <div class="col-md-1 mb-2 col-lg-1">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                                <label for="floatingName">ĐVT</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2 col-lg-2">
                            <div class="form-floating">
                                <select id="inputState" class="form-select">
                                    <option selected="">Choose...</option>
                                    <option>...</option>
                                </select>
                                <label for="floatingName">Số lô</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2 col-lg-2">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                                <label for="floatingName">Số lượng</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2 col-lg-2">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                                <label for="floatingName">Đơn giá</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2 col-lg-2">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                                <label for="floatingName">Thành tiền</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="--bs-gutter-x: 5px">

                        <div class="col-md-1 mb-2 col-lg-1">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                                <label for="floatingName">%CK</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2 col-lg-2">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="floatingName" placeholder="Your Name">
                                <label for="floatingName">Hạn dùng</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2 col-lg-2">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="floatingName" placeholder="Your Name">
                                <label for="floatingName">Ngày SX</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2 col-lg-2">
                            <div class="form-floating">
                                <select id="inputState" class="form-select">
                                    <option selected="">Choose...</option>
                                    <option>...</option>
                                </select>
                                <label for="floatingName">Thuế suất</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2 col-lg-2">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                                <label for="floatingName">Giá bán</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2 col-lg-2">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                                <label for="floatingName">Giá nhập</label>
                            </div>
                        </div>
                        <div class="col-md-1 mb-2 col-lg-1" style="display: flex;">
                            <button class="btn btn-primary" type="submit" style="margin-left: 20px;">Thêm </button>
                        </div>
                    </div>
                </div>
            </form>
                <div class="table-group" style="height: 400px; overflow: auto;">
                    <table class="table table-bordered table-hover table-striped text-center">
                        <thead style="position: sticky; top: 0;">
                            <tr>
                                <th>Tên biệt dược, hàng hóa</th>
                                <th>ĐVT</th>
                                <th>Số lô</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                                <th>%CK</th>
                                <th>Hạn dùng</th>
                                <th>Ngày SX</th>
                                <th>Thuế suất</th>
                                <th>Giá bán</th>
                                <th>Mã nhập</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>...</th>
                                <th>...</th>
                                <th>...</th>
                                <th>...</th>
                                <th>...</th>
                                <th>...</th>
                                <th>...</th>
                                <th>...</th>
                                <th>...</th>
                                <th>...</th>
                                <th>...</th>
                                <th>...</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <div class="row mb-3">
                        <div class="col-sm-6 col-lg-6 d-flex align-items-center justify-content-lg-around">
                            <input type="radio" name="HTthanhtoan" class="radioButtons" onclick="document.getElementById('HTthanhtoan').disabled = true;">
                            <label class=" col-form-label">Mua tiền mặt</label>
                            <input type="radio" name="HTthanhtoan" id="radio" class="radioButtons" onclick="document.getElementById('HTthanhtoan').disabled = false;">
                            <label>Mua nợ hẹn ngày thanh toán</label>
                            <input type="date" class="form-control" id="HTthanhtoan" style="display: inline; width: auto;" disabled>
                        </div>

                        <div class="col-sm-3 col-lg-3 p-0 mb-2 d-flex justify-content-lg-around">
                            <label class="col-form-label">Tiền chiết khấu</label>
                            <input type="text" class="form-control" id="inputText" style="width: 50%;">
                        </div>

                        <div class="col-sm-3 col-lg-3 p-0 mb-2 d-flex justify-content-lg-around">
                            <label class="col-form-label">Tiền chiết khấu</label>
                            <input type="date" class="form-control" id="inputText" style="width: 50%;">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6 col-lg-6 mb-2 d-flex justify-content-lg-around">
                            <label class="col-form-label">Người lập phiếu</label>
                            <input type="text" class="form-control" id="inputText" style="width: 70%">
                        </div>

                        <div class="col-sm-3 col-lg-3 p-0 mb-2 d-flex justify-content-lg-around">
                            <label class="col-form-label">Tiền thuế GTGT</label>
                            <input type="text" class="form-control" id="inputText" style="width: 50%">
                        </div>

                        <div class="col-sm-3 col-lg-3 p-0 mb-2 d-flex justify-content-lg-around">
                            <label class="col-form-label">Tiền phải trả</label>
                            <input type="date" class="form-control" id="inputText" style="width: 50%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
                 <table id="example" class="table table-striped table-hover text-center display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">ID hàng hóa</th>
                            <th  class="text-center">Số lượng</th>
                            <th  class="text-center">Đơn giá</th>
                            <th  class="text-center">Số lô</th>
                            <th  class="text-center">Ngày SX</th>
                            <th  class="text-center">Hạn dùng</th>
                            <th  class="text-center">Chiết khấu</th>
                            <th  class="text-center">VAT</th>
                            <th  class="text-center">Tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>HHC01</td>
                            <td>12</td>
                            <td>12.000</td>
                            <td>1</td>
                            <td>22/02/2001</td>
                            <td>22/02/2022</td>
                            <td>10%</td>
                            <td>10%</td>
                            <td>
                                <a href="PhieuNhapKhoPDF" class="btn btn-outline-success">In</a>
                                <a href="#" class="btn btn-outline-primary mx-1">Xem</a>
                                <a href="#" class="btn btn-outline-secondary">Sửa</a>
                                <a href="#" class="btn btn-outline-danger mx-1">xóa</a>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>

        </div><!-- End Bordered Tabs Justified -->

    </div>
</div>