@model VatTuYTeDanhMuc.Models.Entities.NhaCungCap
@{

}

<div class="card">
            <div class="card-body"  >
                    <form action="/NhaCungCap/UpdateNCC" method="post">
                        <div class="modal-header text-center">						
                            <h4 class="modal-title "><b>@ViewData["Title"]</b></h4>
                        </div>
                        <div class="modal-body">		
                          <div class="form-group">
                            <label style="margin:7px 0;">Mã nhà cung cấp</label>
                            <input asp-for="@Model.MaNcc" type="text" class="form-control" required>
                            <input asp-for="@Model.Id" type="hidden" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Tên nhà cung cấp</label>
                              <input asp-for="@Model.TenNcc" type="text" class="form-control" required>
                          </div>
                           <div class="form-group">
                              <label style="margin:7px 0;">Địa chỉ</label>
                              <input asp-for="@Model.DiaChi" type="text" class="form-control" required>
                          </div>
                           <div class="form-group">
                              <label style="margin:7px 0;">Số điện thoại</label>
                              <input asp-for="@Model.Sdt" type="text" class="form-control" required>
                          </div>
                           <div class="form-group">
                              <label style="margin:7px 0;">Email</label>
                              <input asp-for="@Model.Email" type="text" class="form-control" required>
                          </div>
                           <div class="form-group">
                              <label style="margin:7px 0;">Ghi chú</label>
                              <input asp-for="@Model.GhiChu" type="text" class="form-control" required>
                          </div>
                        </div>
                         <div class="modal-footer" style="justify-content:space-between">        
                            <button class="btn btn-secondary" onclick="window.history.go(-1);">
                                Quay lại
                                </button>
                            <input type="submit" class="btn btn-primary" value="Sửa">
                        </div>
                    </form>

            </div>
        </div>