@{
    webContext context = new webContext();
    List<NhomHangHoa> getListNHH()
    {
        return context.NhomHangHoa.ToList();
    }
    List<HangHoa> getListHH(){
        return context.HangHoa.Where(x=>x.Active == true).Take(9).ToList();
    }

    NhomHangHoa getNhomHH(int? id){
       return context.NhomHangHoa.Find(id);
    }

    HangSanXuat getHSX(int? id){
        return context.HangSanXuat.Find(id);
    }

    NuocSanXuat getNSX(int? id)
    {
        return context.NuocSanXuat.Find(id);
    }
    Dvt getDvt(int? id)
    {
        return context.Dvt.Find(id);
    }
} 
     
<section class="section">
        <div style="margin-bottom: 20px; display: flex; justify-content: space-between">
          <a href="/HangHoa/ViewInsertHangHoa" class="btn btn-secondary" style="margin-left:2rem;"><span>Thêm Sản Phẩm</span></a>
          <div style="display:flex;justify-content:space-around;">       
            <div style="display: flex">   
              <div class="search-bar" style="margin-right:10px">
                  <div class="search-form d-flex align-items-center">
                      <input id="search" type="text" name="query" placeholder="Search" title="Enter search keyword">
                      <button type="submit" title="Search">
                          <i class="bi bi-search"></i>
                      </button>
                  </div>
              </div>
              <div class="dropdown" style="margin-right:10px">
              <select id="active" onchange="changeHH()" class="form-select">
                                    <option value="true" selected>Hiện tại</option>  
                                    <option value="false">Tất cả</option>  
                 </select>
              </div>
              <div class="dropdown" >
              <select id="nhomHH" onchange="changeHH()"
                class="form-select" style="width:40%;"
                aria-label="Default select example">
                <option selected disabled value="0">Nhóm hàng hoá</option>
                @foreach(NhomHangHoa n in getListNHH()){
                    <option value="@n.Id">@n.TenNhh</option>
                }
              </select>
            </div>
            
          </div>
          </div>
        </div>       

<div class="product" id="tableHH" style="display: flex; flex-wrap: wrap">
    <input type="hidden" id="SL" value="9"/>
      @foreach(HangHoa hh in getListHH()){
        <ul>
            <li class="card">
                <div class="profile-card pt-4 d-flex flex-column"
                     style="padding: 0 10px 0 10px">
                     @if(hh.Avatar==null){
                            <img style="width: auto; height: 250px;object-fit: contain;"
                         src="" />
                     }
                    else{
                         <img style="width: auto; height: 250px;object-fit: contain;"
                         src="~/ImagesHangHoa/@hh.Avatar" />
                    }

                    <h5 style="margin-top: 10px; width: 300px; height: 45px;">
                            <b>@hh.TenHh (@getDvt(hh.Iddvtchinh).TenDvt)</b>
                    </h5>

                    <h6>Nhóm: @getNhomHH(hh.Idnhh).TenNhh</h6>
                    <h6>Hãng sản xuất: @getHSX(hh.Idhsx).TenHsx</h6>
                    <h6>Nước sản xuất: @getNSX(hh.Idnsx).TenNsx</h6>
                    <div class="social-links"
                         style="display: flex; justify-content: space-between">
                        <div>
                            <a  class="chinhsua" href="/HangHoa/ViewUpdateHangHoa/@hh.Id">
                                    <i title="Chỉnh sửa" class="bi bi-pencil-square"></i>
                            </a>
                            <a href="/HangHoa/xoa/@hh.Id" onclick="return confirm('Bạn có xoá hàng hoá này?')"><i title="Xoá" class="bi bi-trash"></i></a>
                        </div>
                        <a href="CTLap.html" class="chitiet"><i class="=">Chi tiết</i></a>
                    </div>
                </div>
            </li>
        </ul>
        }

    </div>
        <div >
          <p title="Xem thêm" style="          
          display: block;           
          margin: 5px auto 15px;
          padding: 15px 20px;
          text-align: center;
          cursor:pointer;"
          onclick="loadMore()"
          ><i>Xem thêm</i></p>
        </div>  
</section>
<script>
    function changeHH(){
        var active = $('#active').val();
        var nhomHH = $('#nhomHH').val();
        var sl = $('#tableHH ul').length;
        $.ajax({
            type: "post",
            url: "/loadTableHH",
            data: "active=" + active +"&nhomHH=" + nhomHH+"&SL="+sl,
            success: function (result) {
                $('#tableHH').replaceWith(result);
            },
            error: function () {
                alert("Fail to delete");
            }
        });
    }
        function loadMore(){
        var active = $('#active').val();
        var nhomHH = $('#nhomHH').val();
        var sl = $('#tableHH ul').length;
        $.ajax({
            type: "post",
            url: "/loadMoreTableHH",
            data: "active=" + active +"&nhomHH=" + nhomHH + "&SL="+sl,
            success: function (result) {
                $('#tableHH').replaceWith(result);
            },
            error: function () {
                alert("Fail to delete");
            }
        });
    }
    $('#search').keyup(function(e){
            var key = $(this).val();
                $.ajax({
                type: "post",
                url: "/searchHH",
                data: "key="+key,
                success: function (result) {
                    $('#tableHH').replaceWith(result);
                },
                error: function () {
                    alert("Fail");
                }
            });
        });

</script>
