@model VatTuYTeDanhMuc.Models.Entities.HangHoa
@{
    webContext context = new webContext();
    List<HangSanXuat> getListHSX()
    {
        return context.HangSanXuat.ToList();
    }
    List<NhomHangHoa> getListNHH()
    {
        return context.NhomHangHoa.ToList();
    }
    List<NuocSanXuat> getListNSX()
    {
        return context.NuocSanXuat.ToList();
    }
    List<Dvt> getListDVT()
    {
        return context.Dvt.ToList();
    }
}

<div class="card">
            <div class="card-body"  >
                    <form enctype="multipart/form-data" action="/HangHoa/updateHangHoa" method="post">
                        <div class="modal-header text-center">						
                            <h4 class="modal-title "><b>@ViewData["Title"]</b></h4>
                        </div>
                        <div class="modal-body">		
                             <div class="form-group" style="display: flex; ">
                                <div>
                                <label style="margin-bottom: 70px;">Hình ảnh</label>
                                <input name="Avt" class="form-control" type="file" id="Fileimage" accept="image/gif image/png image/jpeg">
                                </div>
                                <div style="max-width: 300px; max-height:250px; margin-left: 40px;">
                                    @if(Model.Avatar!=null){
                                    <img alt="" src="~/ImagesHangHoa/@Model.Avatar" style="object-fit: cover;" width="auto" height="250px" id="image1">
                                    }else{
                                      <img alt="" src="" style="object-fit: cover;" width="auto" height="250px" id="image1">
                                    }
                                </div>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Mã hàng hoá</label>
                              <input asp-for="@Model.MaHh" type="text" class="form-control" required>
                              <input asp-for="@Model.Id" type="hidden"/>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Tên hàng hoá</label>
                              <input asp-for="@Model.TenHh" type="text" class="form-control" required>
                          </div>
                           <div class="form-group">
                            <label style="margin:7px 0;">Hãng sản xuất</label>
                            <select required class="form-control" asp-for="@Model.Idhsx">
                        @foreach (HangSanXuat hh in getListHSX())
                        {
                             <option value="@hh.Id">
                                @hh.TenHsx
                             </option>
                        }
                            </select>
                          </div>
                           <div class="form-group">
                            <label style="margin:7px 0;">Nước sản xuất</label>
                            <select required class="form-control" asp-for="@Model.Idnsx">
                        @foreach (NuocSanXuat hh in getListNSX())
                        {
                                         <option value="@hh.Id">
                                @hh.TenNsx
                                           </option>
                        }
                            </select>
                          </div>
                          <div class="form-group">
                            <label style="margin:7px 0;">Nhóm hàng hoá</label>
                            <select required class="form-control" asp-for="@Model.Idnhh">
                        @foreach (NhomHangHoa hh in getListNHH())
                        {
                                                    <option value="@hh.Id">
                                @hh.TenNhh
                                                    </option>
                        }
                            </select>
                          </div>
                          <div class="form-group">
                            <label style="margin:7px 0;">Đơn vị tính chính</label>
                            <select required class="form-control" asp-for="@Model.Iddvtchinh">
                        @foreach (Dvt hh in getListDVT())
                        {
                                                        <option value="@hh.Id">
                                @hh.TenDvt
                                                        </option>
                        }
                            </select>
                          </div>
                        </div>
                        <div class="modal-footer" style="justify-content:space-between">        
                            <button class="btn btn-secondary" onclick="window.history.go(-1);">
                                Quay lại
                                </button>
                            <input type="submit" class="btn btn-primary" value="Lưu">
                        </div>
                    </form>

            </div>
        </div>
        <script>
           function readURL(input, previewId) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $(previewId).attr('src', e.target.result);
                        $(previewId).hide();
                        $(previewId).fadeIn(650);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#Fileimage").change(function() {
                readURL(this, '#image1');
            });  

        </script>