
﻿@{
    webContext context = new webContext();
    NhanVien getNhanVien(int? id)
    {
        NhanVien nv = context.NhanVien.Find(id);
        if (nv != null) return nv;
        else return new NhanVien();
    }
    List<NhomNhanVien> getListDVT()

    {
        return context.NhomNhanVien.Where(x => x.Active == true).ToList();
    }
    string formatDay(DateTime? date)
    {
        if (date != null)
        {
            return date.Value.ToString("dd/MM/yyyy HH:mm");
        }
        else
        {
            return null;
        }
    }
}
@if (TempData["ThongBao"] != null)
{
     <script type="text/javascript" charset="utf-8">
                            window.onload = function () {
                                alert("@Html.Raw(@TempData["ThongBao"])");
                        };
                        </script>
}

                <div class="card pt-3">
                    <div class="card-body">
                        <div style="margin-bottom: -40px; position:absolute; z-index:1;display:flex;">
                            <a href="/NhomNhanVien/ViewInsertNhomNV" class="btn btn-secondary">
                                <span>Thêm Mới</span>
                            </a>
                            <div class="dropdown" style="margin-left: 20px">
                                <select id="active" class="form-select">
                                    <option value="true" selected>Hiện tại</option>  
                                    <option value="false">Tất cả</option>  
                                </select>
                            </div>
                        </div>
                        <table id="example" class="table table-striped  table-hover text-center display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="text-center">Mã nhóm</th>
                                    <th class="text-center">Tên nhóm</th>
                                    <th class="text-center">Nhân viên tạo</th>
                                    <th class="text-center">Ngày tạo</th>
                                    <th class="text-center">Nhân viên sửa</th>
                                    <th class="text-center">Ngày sửa</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (NhomNhanVien dvt in getListDVT())
                                {
                                    <tr>
                                        <td>@dvt.MaNnv</td>
                                        <td>@dvt.TenNnv</td>
                                        <td>@getNhanVien(@dvt.Nvtao).TenNv</td>
                                        <td>@formatDay(@dvt.NgayTao)</td>
                                        <td>@getNhanVien(@dvt.Nvsua).TenNv</td>
                                        <td>@formatDay(@dvt.NgaySua)</td>
                                        <td>
                                            <a href="/NhomNhanVien/ViewUpdateNhomNV/@dvt.Id">
                                                <i class="bi bi-pencil-square"
                                                   style="margin-right: 10px; margin-left: 10px"></i>
                                            </a>
                                            <a href="/NhomNhanVien/xoa/@dvt.Id" onclick="return confirm('Bạn có xoá nhóm nhân viên  này?')">
                                                <i class="bi bi-trash"
                                                   style="margin-right: 10px; margin-left: 10px"></i>
                                            </a>
                                            <a href="Phieunhap.html"> Xem </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                 <script>
                    $('#active').on('change',function(){
                        var a = $(this).val();
                        $.ajax({
                            type: "post",
                            url: "/loadTableNNV",
                            data: "active=" + a,
                            success: function (result) {
                                $('#example_wrapper').replaceWith(result);
                            },
                            error: function () {
                                alert("Fail to delete");
                            }
                        });
                    });
                </script>