@{
    webContext context = new webContext();
    Dvt getDVT(int? id)
    {
        return context.Dvt.Find(id);
    }
     Dvt dvt = ViewBag.DVC;
}
                  <tbody id="tbodyHH_DVT">
                        <tr style="background-color:lightgrey;">
                           <td>@dvt.TenDvt<input class="inputDisabled text-center" type="hidden" value="@dvt.Id"/></td>
                            <td><input class="inputDisabled text-center" disabled type="text" value="1" /></td>
                            <td>
                                @*<button class="edit btn btn-primary" style="margin-right: 5px" id="edit">Sửa</button>
                                <a href="#" class ="btn btn-danger">Xóa</a>*@
                                ...
                            </td>
                        </tr>
                        @foreach(HhDvt h in ViewBag.HH_DVT){
                        <tr>
                                <td>@getDVT(h.Iddvt).TenDvt<input class="inputDisabled text-center" type="hidden" value="@h.Iddvt"/></td>
                                <td><input class="inputDisabled text-center" type="text" value="@h.SlquyDoi" disabled/></td>
                            <td>
                                    <button value="@h.Id" class="edit btn btn-primary" style="margin-right: 5px" id="edit">Sửa</button>
                                     <button value="@h.Id" class ="remove btn btn-danger">Xóa</button>
                            </td>
                        </tr>
                        }
                    </tbody>