@{
    webContext context = new webContext();
    bool count(int id){
        if(context.HhDvt.Where(x=>x.Idhh==id&&x.Active==true).ToList().Count()==0){
            return true;
        }
        return false;
    }
}

<tbody id="tbodyHH">
    @foreach(HangHoa h in ViewBag.HangHoas){
        @if(count(h.Id)){
            <tr style="background-color:yellow;" onclick="loadTableHH_DVT('@h.Id')">
               <td>@h.MaHh</td>
               <td>@h.TenHh</td>
            </tr>
        }else{
              <tr onclick="loadTableHH_DVT('@h.Id')">
                       <td>@h.MaHh</td>
                       <td>@h.TenHh</td>
              </tr>
        }
    }
 </tbody>