@{
    webContext context = new webContext();
    NhanVien getNhanVien(int? id)
    {
        NhanVien nv = context.NhanVien.Find(id);
        if (nv != null) return nv;
        else return new NhanVien();
    }
    List<HhDvt> getListHH_Dvt()
    {
        return context.HhDvt.Where(x => x.Active == true).ToList();
    }

    HangHoa getHangHoa(int? id){
        return context.HangHoa.Find(id);
    }

    Dvt getDVT(int? id){
        return context.Dvt.Find(id);
    }
}
@if (TempData["ThongBao"] != null)
{
                        <script type="text/javascript" charset="utf-8">
                            window.onload = function () {
                                alert("@Html.Raw(@TempData["ThongBao"])");
                        };
                        </script>
}
<div class="card pt-3">
    <div class="card-body">
        <div style="margin-bottom: -40px; position:absolute; z-index:1;">
            <a href="/HH_DVT/ViewInsertHH_DVT" class="btn btn-secondary">
                <span>Thêm Mới</span>
            </a>
        </div>
        <table id="example" class="table table-striped  table-hover text-center display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Tên HH</th>
                    <th class="text-center">Tên ĐVT</th>
                    <th class="text-center">SL quy đổi</th>
                    <th class="text-center">NV tạo</th>
                    <th class="text-center">Ngày tạo</th>
                    <th class="text-center">NV sửa</th>
                    <th class="text-center">Ngày sửa</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (HhDvt dvt in getListHH_Dvt())
                {
                    <tr>
                        <td>@getHangHoa(dvt.Idhh).TenHh</td>
                        <td>@getDVT(dvt.Iddvt).TenDvt</td>
                        <td>@dvt.SlquyDoi</td>
                        <td>@getNhanVien(@dvt.Nvtao).TenNv</td>
                        <td>@dvt.NgayTao</td>
                        <td>@getNhanVien(@dvt.Nvsua).TenNv</td>
                        <td>@dvt.NgaySua</td>
                        <td>
                            <a href="/HH_DVT/ViewUpdateHH_DVT/@dvt.Id">
                                <i class="bi bi-pencil-square"
                                   style="margin-right: 10px; margin-left: 10px"></i>
                            </a>
                            <a href="/HH_DVT/xoa/@dvt.Id" onclick="return confirm('Bạn có xoá hàng hoá - đơn vị tính này?')">
                                <i class="bi bi-trash"
                                   style="margin-right: 10px; margin-left: 10px"></i>
                            </a>
                            <a href="Phieunhap.html"> Xem </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>