@{
    webContext context = new webContext();
    NhanVien getNhanVien(int? id){
        return context.NhanVien.Find(id);
    }
    List<Dvt> getListDVT(){
        return context.Dvt.ToList();
    }
}

<div class="card">
        <div class="card-body">
            <table id="example" >
                <thead>
                    <tr>
                        <th>Mã đơn vị tính</th>
                        <th>Tên đơn vị tính</th>
                        <th>Nhân viên tạo</th>
                        <th>Ngày tạo</th>
                        <th>Nhân viên sửa</th>
                        <th>Ngày sửa</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Dvt dvt in getListDVT()){
                    <tr>
                        <td>@dvt.MaDvt</td>
                        <td>@dvt.TenDvt</td>
                        <td>@getNhanVien(@dvt.Nvtao).TenNv</td>
                        <td>@dvt.NgayTao</td>
                        <td>@getNhanVien(@dvt.Nvsua).TenNv</td>
                        <td>@dvt.NgaySua</td>
                        <td>
                            <a href="#">
                                <i
                                  class="bi bi-pencil-square"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                              </a>
                              <a href="">
                                <i
                                  class="bi bi-trash"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                              </a>
                              <a href="Phieunhap.html"> Xem </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
       </div>