@{
    webContext context = new webContext();
    bool count(int id)
    {
        if (context.HhDvt.Where(x => x.Idhh == id && x.Active == true).ToList().Count() == 0)
        {
            return true;
        }
        return false;
    }
    Dvt getdvt(int? id)
    {
        Dvt nv = context.Dvt.Find(id);
        if (nv != null) return nv;
        else return new Dvt();
    }
    NuocSanXuat getnsx(int? id)
    {
        NuocSanXuat nsx = context.NuocSanXuat.Find(id);
        if (nsx != null) return nsx;
        else return new NuocSanXuat();
    }
    HangSanXuat gethsx(int? id)
    {
        HangSanXuat nv = context.HangSanXuat.Find(id);
        if (nv != null) return nv;
        else return new HangSanXuat();
    }
    HangHoa gethh(int? id)
	{
		HangHoa nv = context.HangHoa.Find(id);
		if (nv != null) return nv;
		else return new HangHoa();
	}
    string format(double? a)
    {
        return a?.ToString("N", System.Globalization.CultureInfo.InvariantCulture);

    }
}

<tbody id="tbodyHH" >
    @foreach (HhDvt h in ViewBag.HHDVT)
    {
       
                            <tr  >
                               <td style="display:none">@gethh(@h.Idhh).MaHh</td>
                                   <td style="text-align:left">@gethh(@h.Idhh).TenHh</td>
                               <td>@getdvt(@h.Iddvt).TenDvt</td>
                               <td>@format(@h.SlquyDoi)</td>
                               <td style="text-align:right">@format(@h.TiLeSi)</td>
                                   <td style="text-align:right">@format(@h.TiLeLe)</td>
                                   <td style="text-align:right">@format(@h.GiaBanSi)</td>
                                   <td style="text-align:right">@format(@h.GiaBanLe)</td>
                               <td style="display:none"><input value="@h.Idhh" class='inputDisabled text-center'  type=text ></td>

                               <td>
                                    <button value="@h.Id" class="edit1 btn btn-primary" style="margin-right: 5px" id="edit">Sửa</button>
                                    <button value="@h.Id" class="delete btn btn-danger" style="margin-right: 5px" id="edit">Xóa</button>
                                    

                               </td>

                                        
                            </tr>
        
       
    }
    
 </tbody>