@{
    webContext context = new webContext();
    bool count(int id)
    {
        if (context.HhDvt.Where(x => x.Idhh == id && x.Active == true).ToList().Count() == 0)
        {
            return true;
        }
        return false;
    }
    Dvt getdvt(int? id)
    {
        Dvt nv = context.Dvt.Find(id);
        if (nv != null) return nv;
        else return new Dvt();
    }
    NuocSanXuat getnsx(int? id)
    {
        NuocSanXuat nsx = context.NuocSanXuat.Find(id);
        if (nsx != null) return nsx;
        else return new NuocSanXuat();
    }
    HangSanXuat gethsx(int? id)
    {
        HangSanXuat nv = context.HangSanXuat.Find(id);
        if (nv != null) return nv;
        else return new HangSanXuat();
    }
    string format(double? a)
    {
        return a?.ToString("N", System.Globalization.CultureInfo.InvariantCulture);

    }
    var acc = User.FindFirst("VaiTro");

    int idmenu = (int)TempData.Peek("Menu");

    int idUser = int.Parse(User.Claims.ElementAt(2).Type);
    //int idCN = int.Parse(User.Claims.ElementAt(4).Value);

    string vaitro = null;
    bool nhap = false, sua = false, xoa = false, print = false, xuat = false, canhan = false;
    if (acc != null)
    {
        vaitro = acc.Value;
        if (vaitro != null && vaitro != "")
        {
            ChucNang cn = context.ChucNang.FirstOrDefault(c => c.Idvt.Equals(int.Parse(vaitro)) && c.Idmenu.Equals(idmenu));
            nhap = (bool)cn.Nhap;
            sua = (bool)cn.Sua;
            xoa = (bool)cn.Xoa;
            print = (bool)cn.In;
            xuat = (bool)cn.Xuat;
            canhan = (bool)cn.CaNhan;
        }
    }

}


<tbody id="tbodyHH" >
    @foreach (HangHoa h in ViewBag.HangHoa)
    {
        @if (count(h.Id))
        {
                    <tr  onclick="loadTableHH_DVT('@h.Id')">
                       <td style="display:none">@h.MaHh</td>
                               <td style="text-align:left">@h.TenHh</td>
                       <td>@getdvt(@h.Iddvtchinh).TenDvt</td>
                               <td style="text-align:right">@format(@h.TiLeSi)</td>
                               <td style="text-align:right">@format(@h.TiLeLe)</td>
                               <td style="text-align:right">@format(@h.GiaBanSi)</td>
                               <td style="text-align:right">@format(@h.GiaBanLe)</td>
                       
                       <td>
                    @if (sua == true)
                    {
                  <button value="@h.Id" class="edit btn btn-primary" style="margin-right: 5px" id="edit">Sửa</button>
                    }
                    else
                    {
                         <button value="@h.Id" class="btn-primary btn disabled border-0" style="margin-right: 5px" id="edit">Sửa</button>
                    }      
                             <button value="@h.Id" class="more btn btn-success" style="margin-right: 5px" id="">more</button>
                            

                       </td>
                               
                               <td style="text-align:left">@getnsx(@h.Idnsx).TenNsx</td>
                               <td style="text-align:left">@gethsx(h.Idhsx).TenHsx</td>
                    </tr>
        }
        else
        {
                              <tr  onclick="loadTableHH_DVT('@h.Id')">
                               <td style="display:none">@h.MaHh</td>
                                       <td style="text-align:left">@h.TenHh</td>
                               <td>@getdvt(@h.Iddvtchinh).TenDvt</td>
                                       <td style="text-align:right">@format(@h.TiLeSi)</td>
                                       <td style="text-align:right">@format(@h.TiLeLe)</td>
                                       <td style="text-align:right">@format(@h.GiaBanSi)</td>
                                       <td style="text-align:right">@format(@h.GiaBanLe)</td>
                                       <td>
                                           @if(sua==true){
                                    <button value="@h.Id" class="edit btn btn-primary" style="margin-right: 5px" id="edit">Sửa</button>
                                           }else{
                                      <button value="@h.Id" class="btn-primary btn disabled border-0" style="margin-right: 5px" id="edit">Sửa</button>
                                           }          
                                
                                <button value="@h.Id" class="more btn btn-success" style="margin-right: 5px" id="">more</button>
                                                        </td>
                               <td style="text-align:left">@getnsx(@h.Idnsx).TenNsx</td>
                               <td style="text-align:left">@gethsx(@h.Idhsx).TenHsx</td>
                                       
                      </tr>
        }
    }
 </tbody>