@model VatTuYTeDanhMuc.Models.Entities.KhachHang
@{

}

<div class="card">
            <div class="card-body"  >
                    <form action="/KhachHang/InsertKH" method="post">
                        <div class="modal-header text-center">						
                            <h4 class="modal-title "><b>Thêm khách hàng</b></h4>
                        </div>
                        <div class="modal-body">		
                          <div class="form-group">
                            <label style="margin:7px 0;">Mã khách hàng</label>
                            <input asp-for="@Model.MaKh" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Tên khách hàng</label>
                              <input asp-for="@Model.TenKh" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Địa chỉ</label>
                              <input asp-for="@Model.DiaChi" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Số điện thoại</label>
                              <input asp-for="@Model.Sdt" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Email</label>
                              <input asp-for="@Model.Email" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Mã số thuế</label>
                              <input asp-for="@Model.MaSoThue" type="text" class="form-control" required>
                          </div>
                           <div class="form-group">

                              <label style="margin:7px 0;">Tên tài khoản</label>
                              <input asp-for="@Model.TenTaiKhoan" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Ghi chú</label>
                              <input asp-for="@Model.GhiChu" type="text" class="form-control" required>
                          </div>
                         

                        </div>
                        <div class="modal-footer" style="justify-content:space-between">        
                            <button class="btn btn-secondary" onclick="window.history.go(-1);">
                                Quay lại
                                </button>
                            <input type="submit" class="btn btn-primary" value="Thêm">
                        </div>
                    </form>

            </div>
        </div>