@model VatTuYTeDanhMuc.Models.Entities.KhachHang
@{
    webContext context = new webContext();
    List<TaiKhoan> getListTK()
    {
        return context.TaiKhoan.ToList();
    }
    List<NhanVien> getListNV()
    {
        return context.NhanVien.ToList();
    }
}

<div class="card">
            <div class="card-body"  >
                    <form action="/KhachHang/InsertKH" method="post">
                        <div class="forms-header text-center">						
                            <h4 class="forms-title "><b>Thêm khách hàng</b></h4>
                        </div>
                        <div class="forms-body">		
                          <div class="form-group">
                            <label style="margin:7px 0;">Mã khách hàng</label>
                            <input asp-for="@Model.MaKh" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Tên khách hàng</label>
                              <input asp-for="@Model.TenKh" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Địa chỉ</label>
                              <input asp-for="@Model.DiaChi" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Số điện thoại</label>
                              <input asp-for="@Model.Sdt" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Email</label>
                              <input asp-for="@Model.Email" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Mã số thuế</label>
                              <input asp-for="@Model.MaSoThue" type="text" class="form-control" required>
                          </div>
                           <div class="form-group">

                              <label style="margin:7px 0;">Tên tài khoản</label>
                              
                              <div class="dropdown">
                      <select asp-for="@Model.TenTaiKhoan" class="form-select2" style="height: 38px;width : 1100px" required>
                                    <option selected value="">-- Tên tài khoản --</option>
                            @foreach (TaiKhoan n in getListTK())
                            {
                                                        <option value="@n.TenTaiKhoan">@n.TenTaiKhoan</option>
                            }
                                </select>  
                                </div>
                          </div>
                          <div class="form-group">

                              <label style="margin:7px 0;">Nhân viên phụ trách</label>

                              <div class="dropdown">
                      <select asp-for="@Model.Idnv" class="form-select2" style="height: 38px;width : 1100px" required>
                                    <option selected value="">-- Tên tài khoản --</option>
                            @foreach (NhanVien n in getListNV())
                            {
                                                            <option value="@n.Id">@n.TenNv</option>
                            }
                                </select>  
                                </div>
                          </div>
                          <div class="form-group">

                              <label style="margin:7px 0;">Loại khách hàng</label>

                              <div class="dropdown">
                      <select asp-for="@Model.LoaiKh" class="form-select2" style="height: 38px;width : 400px" required>
                                    <option selected disabled>-- Loại khách hàng--</option>
                                    <option value="false">Sỉ</option>
                                    <option value="true">Lẻ</option>
                                </select>  
                                </div>
                          </div>
                          <div class="form-group">
                              <label style="margin:7px 0;">Ghi chú</label>
                              <input asp-for="@Model.GhiChu" type="text" class="form-control">
                          </div>
                         

                        </div>
                        <div class="forms-footer" style="justify-content:space-between">        
                            <button class="btn btn-secondary" onclick="window.history.go(-1);">
                                Quay lại
                                </button>
                            <input type="submit" class="btn btn-primary" value="Thêm">
                        </div>
                    </form>

            </div>
        </div>