@{
    webContext context = new webContext();
    NhanVien getNhanVien(int? id)
    {
        NhanVien nv = context.NhanVien.Find(id);
        if (nv != null) return nv;
        else return new NhanVien();
    }
    List<HhDvt> getListHH_Dvt()
    {
        return context.HhDvt.Where(x => x.Active == true).ToList();
    }

    HangHoa getHangHoa(int? id)
    {
        return context.HangHoa.Find(id);
    }

    Dvt getDVT(int? id)
    {
        return context.Dvt.Find(id);
    }
    List<NhomHangHoa> getNhomHH()
    {
        return context.NhomHangHoa.ToList();
    }
    List<KhachHang> listkh()
    {
        return context.KhachHang.ToList();
    }
    List<HangHoa> getListHH()
    {
        return context.HangHoa.Where(x => x.Active == true).ToList();
    }

    var acc = User.FindFirst("VaiTro");

    int idmenu = (int)TempData.Peek("Menu");

    int idUser = int.Parse(User.Claims.ElementAt(2).Type);
   ;

    string vaitro = null;
    bool nhap = false, sua = false, xoa = false, print = false, xuat = false, canhan = false;
    if (acc != null)
    {
        vaitro = acc.Value;
        if (vaitro != null && vaitro != "")
        {
            ChucNang cn = context.ChucNang.FirstOrDefault(c => c.Idvt.Equals(int.Parse(vaitro)) && c.Idmenu.Equals(idmenu));
            nhap = (bool)cn.Nhap;
            sua = (bool)cn.Sua;
            xoa = (bool)cn.Xoa;
            print = (bool)cn.In;
            xuat = (bool)cn.Xuat;
            canhan = (bool)cn.CaNhan;
        }
    }


}
@if (TempData["ThongBao"] != null)
{
                            <script type="text/javascript" charset="utf-8">
                                window.onload = function () {
                                    alert("@Html.Raw(@TempData["ThongBao"])");
                            };
                            </script>
}
<div class="card mb-0" style="height:525px;">
    <div class="" style="overflow-x:auto">
        <div id="div1">
                            <button  value="@ViewBag.IDNHH" class="back btn btn-success d-none" style="width:75px;margin-top:20px; margin-left : 20px" id="btnreturn">
                                <span>Trở về</span>
                            </button>
                            </div>
        <div class="m-3" style="display:flex;flex-direction: row; overflow-x:auto; align-items: baseline;">
            <div class="col-lg-4 col-4 p-0 border-dark" style="min-width: 650px; overflow-y: auto; max-height: 480px;" id="table1">
                <div class="row mb-2 justify-content-between" id="headerTable">
                <div class="col-lg-3 col-sm-3">
                    <div class="dropdown">
                      <select id="nhomHH" onchange="loadTableHangHoa()" class="form-select2" style="height: 38px;width : 400px">
                                    <option selected value="">-- Nhóm hàng hoá --</option>
                    @foreach (NhomHangHoa n in getNhomHH())
                    {
                                                    <option value="@n.Id">@n.TenNhh</option>
                    }
                                </select>  
                                </div>
                              </div>
                              <div class="col-lg-3 col-sm-3">
                                 <input placeholder="Tìm kiếm" id="search" type="text" class="form-control d-none" />
                             </div>

                                 
                        </div>
                <table class="table table-bordered table-hover  mb-0 text-center h-100">
                    <thead>

                    <tr>

                                    <th style="min-width: 300px" class="text-center">Tên hàng hóa</th>
                                    <th class="text-center">ĐVT</th>
                                    <th style="min-width:72px" class="text-center">Tỉ lệ sỉ</th>
                                    <th style="min-width:72px" class="text-center">Tỉ lệ lẻ</th>
                                    <th class="text-center" style="min-width:160px">Giá bán sỉ</th>
                                    <th class="text-center" style="min-width:160px">Giá bán lẻ</th>
                                    <th style="min-width:160px" class="text-center" id="nsx">Nước sản xuất</th>
                                    <th style="min-width:160px" class="text-center" id="hsx">Hãng sản xuất</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyHHKH">
                        <tr>

                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="hidden" id="idHH"/>
            <input type="hidden" id="iddvt"/>
            <input type="hidden" id="iddvtc"/>
            <div class="col-lg-8 col-8 p-0 border-dark" style="max-width: 543px; overflow-y: auto; max-height: 480px;">
                <div class="nhomkh row mb-2 justify-content-between" id="headerTable" style="width: 543px">

                <select  id="nhomKH" onchange="loadTableHangHoa()" class="form-select2" style="height: 38px;">
                                    <option selected value="">-- Chọn khách hàng --</option>
                    @foreach (KhachHang n in listkh())
                    {
                                                            <option value="@n.Id">@n.TenKh</option>
                    }
                                </select>
                                </div>
                <table class="table table-bordered  mb-0  text-center bg-light" id="myTable" >
                    <thead>

                        <tr>
                            <th class="text-center">DVT</th>
                            <th class="text-center">Tỉ lệ sỉ</th>
                                    <th class="text-center">Tỉ lệ lẻ</th>
                                    <th style="width:101.68px" class="text-center">Giá bán sỉ</th>
                                    <th style="width:103.33px" class="text-center">Giá bán lẻ</th>

                                    <th style="width:140px" class="text-center">Tùy chọn</th>

                        </tr>
                    </thead>
                    <tbody id="tbodyGTKH">
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

                    <script>
                                           function loadTableHangHoa(){
                                                var nhomHH = $('#nhomHH').val();
                                                var nhomKH = $('#nhomKH').val();
                                                $.ajax({
                                                    type: "post",
                                                    url: "/loadTableGiaBanChungKH",
                                                    data: "&nhomHH=" + nhomHH + "&idkh=" + nhomKH ,
                                                    success: function (result) {
                                                       
                                                        $('#search').removeClass("d-none");
                                                        $('#tbodyHHKH').replaceWith(result);
                                                        $.ajax({

                    type: "post",
                    url: "/Viewnull",

                    success: function (result) {                       
                         $('#tbodyGTKH').replaceWith(result);  
                    },
                    error: function () {
                        alert("Fail");
                    }
                });

                                                    },
                                                    error: function () {
                                                        alert("Fail");
                                                    }
                                                });
                                            }
     function loadTableGTKH(idhh,iddvt){
        $('#idHH').val(idhh);
        $('#iddvtc').val(iddvt);
        var nhomKH = $('#nhomKH').val();
        $.ajax({
            type: "post",
            url: "/loadTableGTKH",
            data: "idhh=" + idhh + "&idkh=" +nhomKH +"&iddvt=" + iddvt,
            success: function (result) {

                $('#tbodyGTKH').replaceWith(result);  
            },
            error: function () {

                alert("Fail");
            }
        });
    }
    function loadTableGTKH1(idhh,iddvt){
        $('#idHH').val(idhh);
        $('#iddvt').val(iddvt);
        var nhomKH = $('#nhomKH').val();
        $.ajax({
            type: "post",
            url: "/loadTableGTKH_DVT",
            data: "idhh=" + idhh + "&idkh=" +nhomKH +"&iddvt=" + iddvt,
            success: function (result) {

                $('#tbodyGTKH').replaceWith(result);  
            },
            error: function () {
                
                alert("Fail");
            }
        });
    }
    $(function () {

            $("#myTable").on("click", ".edit", function () {


                var thiss = $(this);
                var id = $(this).attr("value");
                $.ajax({

                    type: "post",
                    url: "/addNewRowGTKH",
                    data: "id="+id,
                    success: function (result) {

                        thiss.parents('tr').replaceWith(result);
                    },
                    error: function () {
                        alert(id);
                        alert("Fail");
                    }
                });
            });
            $("#myTable").on("click", ".save1", function () {
                var tilele = $(this).parents('tr').find("td:eq(2) input[type='text']").val(); 
                var tilesi = $(this).parents('tr').find("td:eq(1) input[type='text']").val(); 
                var giabanle = $(this).parents('tr').find("td:eq(4) input[type='text']").val();
                var giabansi = $(this).parents('tr').find("td:eq(3) input[type='text']").val(); 
                var id = $(this).attr("value");
                var idhh = $(this).parents('tr').find("td:eq(5) input[type='text']").val(); 
                 var iddvt = $(this).parents('tr').find("td:eq(6) input[type='text']").val(); 
                 var nhomKH = $('#nhomKH').val();
                $.ajax({
                    type: "post",
                    url: "/updateGTKH",
                    data: "&tilesi=" + tilesi + "&giabansi="+giabansi+"&giabanle="+giabanle+"&id="+id +"&tilele=" +tilele,
                    success: function (result) {

                         $.ajax({

                    type: "post",
                    url: "/loadTableGTKH_DVT",
                    data: "idhh=" + idhh + "&idkh=" +nhomKH +"&iddvt=" + iddvt,
                    success: function (result) {                       
                         $('#tbodyGTKH').replaceWith(result);  
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
                        alert(result);
                    },
                    error: function () {
                        alert("Fail");
                    }
                });


              });
            $("#myTable").on("click", ".huy2", function () {
                 var idhh = $(this).parents('tr').find("td:eq(5) input[type='text']").val(); 
                 var iddvt = $(this).parents('tr').find("td:eq(6) input[type='text']").val(); 
                 var nhomKH = $('#nhomKH').val();
                var thiss = $(this);
                var id = $(this).attr("value");
                $.ajax({

                    type: "post",
                    url: "/loadTableGTKH_DVT",
                    data: "idhh=" + idhh + "&idkh=" +nhomKH +"&iddvt=" + iddvt,
                    success: function (result) {                       
                         $('#tbodyGTKH').replaceWith(result);  
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
            });
            $("#div1").on("click", ".back", function () {
              var nhomHH = $('#nhomHH').val(); 
              var nhomKH = $('#nhomKH').val();
              var idhh = $('#idHH').val();
              var iddvt = $('#iddvtc').val();

                $.ajax({
                         type: "post",
                         url: "/loadTableGiaBanChungKH",
                         data: "&nhomHH=" + nhomHH + "&idkh=" + nhomKH ,
                         success: function (result) {
                            $('#nsx').removeClass("d-none");
                        $('#hsx').removeClass("d-none");

                        $('.nhomkh').removeClass("d-none");
                        $('#headerTable').removeClass("d-none");
                        $('#search').removeClass("d-none");
                        $('#btnreturn').addClass("d-none");
                         $('#tbodyHHKH').replaceWith(result);
                         $.ajax({
                            type: "post",
                            url: "/loadTableGTKH",
                            data: "idhh=" + idhh + "&idkh=" +nhomKH +"&iddvt=" + iddvt,
                            success: function (result) {

                                $('#tbodyGTKH').replaceWith(result);  
                            },
                            error: function () {

                                alert("Fail");
                            }
                        });
                          },
                         error: function () {
                         alert("Fail");
                         }
                          });

                            });
            $("#myTable").on("click", ".edit1", function () {


                var thiss = $(this);
                var id = $(this).attr("value");
                $.ajax({

                    type: "post",
                    url: "/addNewRowGTKH1",
                    data: "id="+id,
                    success: function (result) {

                        thiss.parents('tr').replaceWith(result);
                    },
                    error: function () {
                        alert(id);
                        alert("Fail");
                    }
                });
            });
             $("#myTable").on("click", ".huy1", function () {
                 var idhh = $(this).parents('tr').find("td:eq(5) input[type='text']").val(); 
                 var iddvt = $(this).parents('tr').find("td:eq(6) input[type='text']").val(); 
                 var nhomKH = $('#nhomKH').val();
                var thiss = $(this);
                var id = $(this).attr("value");
                $.ajax({

                    type: "post",
                    url: "/loadTableGTKH",
                    data: "idhh=" + idhh + "&idkh=" +nhomKH +"&iddvt=" + iddvt,
                    success: function (result) {                       
                         $('#tbodyGTKH').replaceWith(result);  
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
            });
            $("#myTable").on("click", ".more", function () {

                var idhh = $(this).attr("value");
                $.ajax({

                    type: "post",
                    url: "/loadTableGBCKH_DVT",
                    data: "idhh=" + idhh,
                    success: function (result) {
                        $('#nsx').addClass("d-none");
                        $('#hsx').addClass("d-none");
                        $('#tbodyHHKH').replaceWith(result);
                        $('#nhomHH').addClass("d-none");
                        $('#nhomKH').addClass("d-none");
                        $('#headerTable').addClass("d-none");
                        $('.nhomkh').addClass("d-none");
                        $('#search').addClass("d-none");
                        $('#btnreturn').removeClass("d-none");
                        $.ajax({

                    type: "post",
                    url: "/Viewnull",

                    success: function (result) {                       
                         $('#tbodyGTKH').replaceWith(result);  
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
            });
            $("#myTable").on("click", ".delete", function () {

                if(confirm('Bạn có muốn xoá ?')){
                var id = $(this).attr("value");
                var idhh = $(this).parents('tr').find("td:eq(6) input[type='text']").val(); 
                 var iddvt = $(this).parents('tr').find("td:eq(5) input[type='text']").val(); 
                 var nhomKH = $('#nhomKH').val();
               
                $.ajax({

                    type: "post",
                    url: "/Delete",
                    data:  "id="+id,
                    success: function (result) {

                         $.ajax({

                    type: "post",
                    url: "/loadTableGTKH_DVT",
                    data: "idhh=" + idhh + "&idkh=" +nhomKH +"&iddvt=" + iddvt,
                    success: function (result) {                       
                         $('#tbodyGTKH').replaceWith(result);  
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
                     alert(result);   
                    },
                    error: function () {

                        alert("fail");
                    }
                });
                }
            });
            $("#myTable").on("click", ".save", function () {
                var tilele = $(this).parents('tr').find("td:eq(2) input[type='text']").val(); 
                var tilesi = $(this).parents('tr').find("td:eq(1) input[type='text']").val(); 
                var giabanle = $(this).parents('tr').find("td:eq(4) input[type='text']").val();
                var giabansi = $(this).parents('tr').find("td:eq(3) input[type='text']").val(); 
                var id = $(this).attr("value");
                var idhh = $(this).parents('tr').find("td:eq(5) input[type='text']").val(); 
                 var iddvt = $(this).parents('tr').find("td:eq(6) input[type='text']").val(); 
                 var nhomKH = $('#nhomKH').val();
                $.ajax({
                    type: "post",
                    url: "/updateGTKH",
                    data: "&tilesi=" + tilesi + "&giabansi="+giabansi+"&giabanle="+giabanle+"&id="+id +"&tilele=" +tilele,
                    success: function (result) {

                         $.ajax({

                    type: "post",
                    url: "/loadTableGTKH",
                    data: "idhh=" + idhh + "&idkh=" +nhomKH +"&iddvt=" + iddvt,
                    success: function (result) {                       
                         $('#tbodyGTKH').replaceWith(result);  
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
                        alert(result);
                    },
                    error: function () {
                        alert("Fail");
                    }
                });


              });
              $("#myTable").on("click", ".add1", function () {
                var tilele = $(this).parents('tr').find("td:eq(2) input[type='text']").val(); 
                var tilesi = $(this).parents('tr').find("td:eq(1) input[type='text']").val(); 
                var giabanle = $(this).parents('tr').find("td:eq(4) input[type='text']").val();
                var giabansi = $(this).parents('tr').find("td:eq(3) input[type='text']").val(); 
                var id = $(this).attr("value");
                var idhh = $(this).parents('tr').find("td:eq(6) input[type='text']").val(); 
                 var iddvt = $(this).parents('tr').find("td:eq(5) input[type='text']").val(); 
                 var nhomKH = $('#nhomKH').val();
                $.ajax({
                    type: "post",
                    url: "/AddGTKH",
                    data: "&tilesi=" + tilesi + "&giabansi="+giabansi+"&giabanle="+giabanle+"&idhh="+idhh +"&tilele=" +tilele +"&iddvt=" + iddvt + "&idkh="+ nhomKH,
                    success: function (result) {

                         $.ajax({

                    type: "post",
                    url: "/loadTableGTKH_DVT",
                    data: "idhh=" + idhh + "&idkh=" +nhomKH +"&iddvt=" + iddvt,
                    success: function (result) {                       
                         $('#tbodyGTKH').replaceWith(result);  
                    },
                    error: function () {
                        alert("Fail1");
                    }
                });
                        alert(result);
                    },
                    error: function () {
                        alert("Fail2");
                    }
                });


              });
                $("#myTable").on("click", ".add", function () {
                var tilele = $(this).parents('tr').find("td:eq(2) input[type='text']").val(); 
                var tilesi = $(this).parents('tr').find("td:eq(1) input[type='text']").val(); 
                var giabanle = $(this).parents('tr').find("td:eq(4) input[type='text']").val();
                var giabansi = $(this).parents('tr').find("td:eq(3) input[type='text']").val(); 
                var id = $(this).attr("value");
                var idhh = $(this).parents('tr').find("td:eq(6) input[type='text']").val(); 
                 var iddvt = $(this).parents('tr').find("td:eq(5) input[type='text']").val(); 
                 var nhomKH = $('#nhomKH').val();
                 var nhomHH = $('#nhomHH').val();
                $.ajax({
                    type: "post",
                    url: "/AddGTKH",
                    data: "&tilesi=" + tilesi + "&giabansi="+giabansi+"&giabanle="+giabanle+"&idhh="+idhh +"&tilele=" +tilele +"&iddvt=" + iddvt + "&idkh="+ nhomKH,
                    success: function (result) {

                         $.ajax({

                    type: "post",
                    url: "/loadTableGTKH",
                    data: "idhh=" + idhh + "&idkh=" +nhomKH +"&iddvt=" + iddvt,
                    success: function (result) {                       
                         $('#tbodyGTKH').replaceWith(result);
                         $.ajax({
                                                    type: "post",
                                                    url: "/loadTableGiaBanChungKH",
                                                    data: "&nhomHH=" + nhomHH + "&idkh=" + nhomKH ,
                                                    success: function (result) {

                                                        $('#tbodyHHKH').replaceWith(result);
                                                    },
                                                    error: function () {
                                                        alert("Fail");
                                                    }
                                                });
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
                        alert(result);
                    },
                    error: function () {
                        alert("Fail");
                    }
                });


              });
            })
             $('#search').keyup(function(e){
            var nhomHH = $('#nhomHH').val();
            var nhomkh = $('#nhomKH').val();
            var key = $(this).val();
                $.ajax({
                type: "post",
                url: "/searchTableGBCKH",
                data: "nhomHH=" + nhomHH + "&key="+key + "&nhomKH" + nhomkh,
                success: function (result) {
                   
                    $('#tbodyHHKH').replaceWith(result);
                },
                error: function () {
                    alert("Fail");
                }
            });
        });

                     </script>