@{
    string format(double? a)
    {
        return a?.ToString("N", System.Globalization.CultureInfo.InvariantCulture);

    }
}
<tbody id="tbody">
    @foreach (NhomHangHoa item in ViewBag.nhh)
    {


                                        <tr>


                                            <td style="display:none">@item.MaNhh</td>
                                            <td style="text-align:left">@item.TenNhh</td>
                                            <td style="text-align:right">@format(item.GiaTriMin)</td>
                                            <td style="text-align:right">@format(@item.GiaTriMax)</td>
                                            <td style="text-align:right">@item.TiLeSi</td>
                                            <td style="text-align:right">@item.TiLeLe</td>



                                            <td>
                                                    <button class='edit btn btn-primary' value="@item.Id" style ='margin-right:5px' id='edit'>Sửa</button>

                                            </td>
                                        </tr>
    }



                            </tbody>