@model VatTuYTeDanhMuc.Models.Entities.HangSanXuat
@{
    webContext context = new webContext();
    NhanVien getNhanVien(int? id)
    {
        NhanVien nv = context.NhanVien.Find(id);
        if (nv != null) return nv;
        else return new NhanVien();
    }
    List<HangSanXuat> getListHSX()
    {
        return context.HangSanXuat.Where(x => x.Active == true).ToList();
    }
    string formatDay(DateTime? date)
    {
        if (date != null)
        {
            return date.Value.ToString("dd/MM/yyyy HH:mm");
        }
        else
        {
            return null;
        }
    }
}
@if (TempData["ThongBao"] != null)
{
                        <script type="text/javascript" charset="utf-8">
                            window.onload = function () {
                                alert("@Html.Raw(@TempData["ThongBao"])");
                        };
                        </script>
}
<div class="card">
        <div class="card-body">
            <div class="row">
                <div style="display:flex; justify-content:end;margin-bottom:7px">
                    <a href="/HangSanXuat/ViewInsert" style="width:20%" class="btn btn-secondary">Thêm mới</a></div>
            </div>
            <table id="tableDonViTinh">
                <thead>
                    <tr>
                        
                        <th class="text-center">Mã HSX</th> 
                        <th class="text-center">Tên HSX</th>
                        <th class="text-center">NV tạo</th>
                        <th class="text-center">Ngày tạo</th>
                        <th class="text-center">NV sửa</th>
                        <th class="text-center">Ngày sửa</th>
                        
                        <th class="text-center">Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (HangSanXuat item in getListHSX())
                {


                        <tr>
                                    <td>@item.MaHsx</td>
                                    <td>@item.TenHsx</td>
                                    
                                    <td>@getNhanVien(@item.Nvtao).TenNv</td>
                                    <td>@formatDay(@item.NgayTao)</td>
                                    <td>@getNhanVien(@item.Nvsua).TenNv</td>
                                    <td>@formatDay(@item.NgaySua)</td>
                                    
                            <td>
                                         <a href="/HangSanXuat/Update/@item.Id">
                                        <i
                                  class="bi bi-pencil-square"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                                      </a>
                                               <a href="/HangSanXuat/Delete/@item.Id" onclick="return confirm('Bạn có xoá hãng sản xuất này?')">
                                        <i
                                  class="bi bi-trash"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                                      </a>
                                     
                            </td>
                        </tr>
                }



                </tbody>
            </table>
        </div>
       </div>
